<html>
<head>
    <title>Page Potin</title>
</head>
<body>
    <h1>Voici la page du potin</h1>
    <p>
        Son auteur : <%= gossip.author %></br>
        Le contenu du potin : <%= gossip.content %>
    </p>
    <p>
        <a href="/gossips/<%= id+1 %>/edit">Editer le potin</a>
    </p>
    <h3>Commentes ce potin ci-dessous</h3>
    <% comments.each do |comment| %>
    <p>
        <%= comment.author %><br/>
        <%= comment.content %>
    </p>
    <% end %>
    <p>
        <a href="/">Revenir à la page des potins</a>
    </p>
</body>
</html>
